In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Placement_Data_Full_Class.csv")

In [3]:
dataset = dataset.drop(columns='sl_no', axis=1)

In [4]:
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
dataset.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',
       'salary'],
      dtype='object')

In [7]:
#quan, qual = Univariate.quanQual(dataset)
def quanQual(dataset):
        quan = []
        qual = []
        for column_name in dataset.columns:
            if dataset[column_name].dtype == 'O':
                qual.append(column_name)
            else:
                quan.append(column_name)
        return quan, qual

In [8]:
quan, qual = quanQual(dataset)

In [9]:
quan

['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [10]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [11]:
# Central Tendency Started
dataset['ssc_p'].mean()

67.30339534883721

In [12]:
dataset['ssc_p'].median()

67.0

In [13]:
dataset['ssc_p'].mode()

0    62.0
Name: ssc_p, dtype: float64

In [14]:
type(dataset['ssc_p'].mode())

pandas.core.series.Series

In [15]:
dataset['ssc_p'].mode().name

'ssc_p'

In [16]:
dataset['ssc_p'].mode().dtype

dtype('float64')

In [17]:
dataset.describe()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [18]:
descriptive = pd.DataFrame(columns=quan, index=['mean','median','mode'])
# if dataframe df [column_name][index]
# if iloc or loc df[
def central_tendency(dataset):
    for column_name in quan:
        descriptive [column_name]['mean'] = dataset[column_name].mean()
        descriptive [column_name]['median'] = dataset[column_name].median()
        descriptive [column_name]['mode'] = dataset[column_name].mode()[0]
        #or label indexing 
        # descriptive.loc['mean', column_name] = dataset[column_name].mean()
        # descriptive.loc['median', column_name] = dataset[column_name].median()
        # descriptive.loc['mode', column_name]   = dataset[column_name].mode()[0]
        # or
        # descriptive[column_name] = [dataset[column_name].mean(),dataset[column_name].median(), dataset[column_name].mode()[0] ]
        
    return descriptive

In [19]:
central_tendency(dataset)

            ssc_p      hsc_p   degree_p    etest_p      mba_p         salary
mean    67.303395  66.333163  66.370186  72.100558  62.278186  288655.405405
median       67.0       65.0       66.0       71.0       62.0       265000.0
mode         62.0       63.0       65.0       60.0       56.7       300000.0